<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Unit Page</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Unit
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Unit</li>
    </ol>
</section>
<div layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Unit</h3>
				</div>
				<div class="box-body">
					<form class="form-horizontal" method="post" th:action="@{/unit/add}" th:object="${unit}">
				        <input type="hidden" th:field="*{id}" />
				        <div class="form-group">
				            <label class="control-label col-sm-2" for="brand" th:text="#{brand}+':'">Brand:</label>
				            <div class="col-sm-10">
				                <select class="form-control" id="brand" th:field="*{brand.id}">
				                    <option th:hidden="true" value="" th:text="#{placeholder-brand}">Select brand</option>
				                    <option th:each="item : ${lookupBrands}"
				                            th:value="${item.id}" th:text="${item.value}"></option>
				                </select>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label col-sm-2" for="type" th:text="#{type}+':'">Type:</label>
				            <div class="col-sm-10">
				                <select class="form-control" id="type"  th:field="*{type.id}">
				                    <option th:hidden="true" value="" th:text="#{placeholder-type}">Select type</option>
				                    <option th:each="item : ${lookupTypes}"
				                            th:value="${item.id}" th:text="${item.value}"></option>
				                </select>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label col-sm-2" for="year" th:text="#{year}+':'">Year:</label>
				            <div class="col-sm-10">
				                <input type="number" class="form-control" id="year" th:placeholder="#{placeholder-year}" placeholder="Enter year" th:field="*{year}"/>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label col-sm-2" for="police-number" th:text="#{police-number}+':'">Police Number:</label>
				            <div class="col-sm-10">
				                <input type="text" class="form-control" id="police-number" th:placeholder="#{placeholder-police-number}" placeholder="Enter police number"  th:field="*{policeNumber}"/>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="control-label col-sm-2" for="transmission" th:text="#{transmission}+':'">Transmission:</label>
				            <div class="col-sm-10">
				                <select class="form-control" id="transmission" name="transmission" th:field="*{transmission.id}">
				                    <option th:hidden="true" value="" th:text="#{placeholder-transmission}">Select transmission</option>
				                    <option th:each="item : ${lookupTrans}"
				                            th:value="${item.id}" th:text="${item.value}"></option>
				                </select>
				            </div>
				        </div>
				        <div class="form-group">
				            <div class="col-sm-offset-2 col-sm-10">
				                <button type="submit" class="btn btn-success" th:text="#{submit}">Submit</button>
				                <a th:href="@{/unit}" class="btn btn-danger" th:text="#{cancel}">Cancel</a>
				            </div>
				        </div>
				    </form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>