<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
<header th:replace="layout :: site-header"></header>
<div class="container">
    <a class="btn btn-success pull-right" href="add.html" th:href="@{unit/add}">
        Add
    </a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{brand}"></th>
            <th th:text="#{type}"></th>
            <th th:text="#{year}"></th>
            <th th:text="#{police-number}"></th>
            <th th:text="#{transmission}"></th>
            <th th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="unit : ${units}">
            <td th:text="${unit.brand.value}"></td>
            <td th:text="${unit.type.value}"></td>
            <td th:text="${unit.year}"></td>
            <td th:text="${unit.policeNumber}"></td>
            <td th:text="${unit.transmission.value}"></td>
            <td>
                <a class="btn btn-primary" href="add.html" th:href="@{unit/edit(id=${unit.id})}" th:text="#{edit}">
                    Edit
                </a>
                <a class="btn btn-danger confirmation" href="add.html" th:href="@{unit/delete(id=${unit.id})}" th:text="#{delete}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>