<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <!--<link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}"/>-->
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">car rental</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/car}">Car</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="site-footer">
    <script src="../public/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</footer>
</body>
</html>