<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--<link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}"/>-->
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
    <title>Car Rental</title>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" th:text="#{web-title}">car rental</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/unit}" th:text="#{unit}">Unit</a></li>
                <li><a th:href="@{/lookup}" th:text="#{lookup}">Lookup</a></li>
                <li><a th:href="@{/driver}" th:text="#{driver}">Driver</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="site-footer">
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>